.about {
  padding-top: 89px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 70px;
    font-family: 'Palace of Sports', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: var(--color-black-russian);
    text-transform: uppercase;
    text-align: center;

    @include mobile {
      & {
        margin-bottom: 40px;
        font-size: 40px;
      }
    }
  }

  &__wrapper {
    margin-bottom: 20px;
    display: flex;
    column-gap: 30px;

    &-image {
      max-width: 416px;
      width: 100%;

      &-picture {
        position: relative;
        display: flex;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--filter-image-30-black);
          border-radius: 15px;
        }
      }

      &-img {
        border-radius: 15px;
      }
    }

    &-description {
      padding: 40px 20px;
      max-width: 735px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--color-kobi);
      border-radius: 15px;

      &-text {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
      }

      @include mobile {
        & {
          padding: 10px;
          gap: 20px;

          &-text {
            font-size: 18px;
          }
        }
      }
    }

    @include high-desktop {
      & {
        flex-direction: column;
        gap: 20px;

        &-image {
          max-width: none;
        }

        &-description {
          max-width: none;
        }
      }
    }
  }

  &__descr {
    padding: 12px 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-transform: lowercase;
    border: 3px solid var(--color-medium-red-violet);
    border-radius: 15px;

    @include mobile {
      padding: 10px;
      font-size: 18px;
    }
  }
}
