.benefit {
  padding-top: 60px;
  margin-bottom: 60px;

  &__container {
    position: relative;
  }

  &__title {
    margin-bottom: 70px;
    font-family: 'Palace of Sports';
    font-size: 60px;
    font-weight: 400;
    color: var(--color-black-russian);
    text-align: center;
    text-transform: uppercase;

    @include mobile {
      & {
        margin-bottom: 40px;
        font-size: 40px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;

    @include tablet {
      & {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
      }
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;

    &-image {
      margin-bottom: 15px;
    }

    &-title {
      margin-bottom: 25px;
      padding: 11px 20px;
      width: 100%;
      font-size: 24px;
      font-weight: 400;
      color: var(--color-black-russian);
      text-align: center;
      text-transform: uppercase;
      border: 2px solid var(--color-medium-red-violet);
      border-radius: 30px;
    }

    &-description {
      font-size: 24px;
      font-weight: 400;
      color: var(--color-black-russian);
      text-align: center;
      text-transform: uppercase;
    }

    @include mobile {
      &-title {
        padding: 10px;
        font-size: 18px;
      }

      &-description {
        font-size: 18px;
      }
    }
  }

  &__background {
    position: absolute;
    left: -60%;
    bottom: -30%;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    background: var(--color-background-pink);
    z-index: -1;

    @include tablet {
      & {
        left: 40%;
        bottom: -20%;
      }
    }
  }
}
