.hero {
  position: relative;

  &__container {
    position: relative;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__picture {
    display: flex;
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--filter-image-20-black);
      // border-radius: 15px;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    padding-top: 15%;
    padding-bottom: 50%;
    max-width: 705px;
    width: 100%;
    font-family: 'Palace of Sports', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: var(--color-black-russian);
    text-transform: uppercase;

    &-span {
      color: var(--color-medium-red-violet);
    }

    @include tablet {
      & {
        font-size: 44px;
      }
    }

    @include high-tablet {
      & {
        max-width: 460px;
        font-size: 32px;
      }
    }

    @include small-tablet {
      & {
        max-width: 390px;
        font-size: 28px;
      }
    }

    @include mobile {
      & {
        max-width: 220px;
        font-size: 22px;
      }
    }
  }

  &__background {
    position: absolute;
    left: -45%;
    bottom: -55%;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    background: var(--color-background-pink);
    z-index: -1;

    @include mobile {
      & {
        bottom: -90%;
      }
    }
  }
}
