<section id="about" class="about">
  <div class="container">
    <h3 class="about__title">О нас</h3>
    <div class="about__wrapper">
      <div class="about__wrapper-image">
        <picture class="about__wrapper-image-picture">
          <source srcset="img/about.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/about.jpg"
            class="about__wrapper-image-img"
            alt="Фоновое изображение"
          />
        </picture>
      </div>
      <div class="about__wrapper-description">
        <p
          class="about__wrapper-description-text"
        >
          Поресничное наращивание ресниц, это то, что Вам нужно. Нарощенные
          ресницы не боятся воды, соли, солнца, ветра, высоких или низких
          температур. Вы будете выглядеть потрясающе в любое время дня и ночи и
          при любой погоде!
        </p>
        <p
          class="about__wrapper-description-text"
        >
          Мастера нашей уютной студии профессиональны, опытны, тактичны, помогут
          подобрать идеальный для Вас размер ресничек и виртуозно исполнят его.
          Мы в курсе всех новых тенденций в lash и brow-индустрии, так как
          постоянно совершенствуем свои знания и мастерство много лет.
        </p>
      </div>
    </div>
    <p class="about__descr">
      В нашей студии Вы сделаете свой взгляд идеальным, потому что в нашей
      команде работают только мастера, высокой квалификации, влюбленные в свою
      профессию.
    </p>
  </div>
</section>
