<section id="address" class="address">
  <div class="container address__container">
    <h3 class="address__title">
      Как нас найти
    </h3>
    <div class="address__wrapper">
      <div id="map" class="address__wrapper-map"></div>
      <div class="address__wrapper-contacts">
        <p class="address__wrapper-contacts-description">
          Профессиональная студия наращивания ресниц и моделирования взгляда. Материалы премиум-класса. Гарантия качества.
        </p>
        <p class="address__wrapper-contacts-address">
          г. Москва, ул. Ряжская 13/1, БЦ Ряжская 13
        </p>
        <a href="tel:+79260802636" class="address__wrapper-contacts-phone">+7 (901) 740 5001</a>
        <a href="mailto:info@lashflash.ru" class="address__wrapper-contacts-email">igorevna090@mail.ru</a>
      </div>
    </div>
    <ul class="address__social list-reset" title="Социальные сети салона по наращиванию ресниц LASH">
      <li class="address__social-item">
        <a href="tg://resolve?domain=lashtoc" target="_blank" class="address__social-item-link" aria-label="Наша страничка в Фейсбуке">
          <img loading="lazy" src="img/address/telegram.svg" class="address__social-item-link-image" width="96" height="96" alt="Иконка телеграма">
        </a>
      </li>
      <li class="address__social-item">
        <a href="https://www.instagram.com/lash__tochka/?igshid=MmIzYWVlNDQ5Yg%3D%3D" target="_blank" class="address__social-item-link" aria-label="Наша страничка в Фейсбуке">
          <img loading="lazy" src="img/address/instagram.svg" class="address__social-item-link-image" width="96" height="96" alt="Иконка инстаграма">
        </a>
      </li>
      <li class="address__social-item">
        <a href="https://vk.com/podrygka_lashes" target="_blank" class="address__social-item-link" aria-label="Наша страничка в Фейсбуке">
          <img loading="lazy" src="img/address/vk.svg" class="address__social-item-link-image" width="96" height="96" alt="Иконка инстаграма">
        </a>
      </li>
    </ul>
  </div>
</section>
