<section class="benefit">
  <div class="container benefit__container">
    <h3 class="benefit__title">
      Наши преимущества
    </h3>

    <div class="benefit__wrapper">
      <div class="benefit__card">
        <img loading="lazy" src="img/benefit/benefit1.svg" class="benefit__card-image" width="90" height="90" alt="Иконка">
        <h4 class="benefit__card-title">
          Красивый взгляд надолго
        </h4>
        <p class="benefit__card-description">
          Мы гарантируем носку ресниц от 3х недель до 1,5 месяцев. При грамотном уходе и своевременной коррекции ваши реснички будут радовать вас круглый год.
        </p>
      </div>
      <div class="benefit__card">
        <img loading="lazy" src="img/benefit/benefit2.svg" class="benefit__card-image" width="90" height="90" alt="Иконка">
        <h4 class="benefit__card-title">
          Выполняем работу быстро
        </h4>
        <p class="benefit__card-description">
          Мы выбирали самых лучших лэшмейкеров. Каждый наш мастер профессионал своего дела. Время работы от 1,5 до 2:30 в зависимости от желаемого объема.
        </p>
      </div>
      <div class="benefit__card">
        <img loading="lazy" src="img/benefit/benefit3.svg" class="benefit__card-image" width="90" height="90" alt="Иконка">
        <h4 class="benefit__card-title">
          Luxe материалы
        </h4>
        <p class="benefit__card-description">
          Благодаря сочетанию мастерства и материалов lux Ваш взгляд преобразится, а родные ресницы не пострадают. ТОЛЬКО САМЫЕ КАЧЕСТВЕННЫЕ И ДОРОГИЕ МАТЕРИАЛЫ. Реснички ультра мягкие, пушистые, не заламываются и на 100% выглядят как свои натуральные!
        </p>
      </div>
      <div class="benefit__card">
        <img loading="lazy" src="img/benefit/benefit4.svg" class="benefit__card-image" width="90" height="90" alt="Иконка">
        <h4 class="benefit__card-title">
          Топ мастера
        </h4>
        <p class="benefit__card-description">
          Все наши мастера по наращиванию ресниц прошли долгий и тщательный отбор. Они являются настоящими профессионалами своего дела и дипломированными специалистами. Работа выполняется по всем канонам грамотного и безопасного наращивания.
        </p>
      </div>
    </div>

    <div class="benefit__background"></div>
  </div>
</section>
