<section id="examples" class="examples">
  <div class="container examples__container">
    <h3 class="examples__title">
      Примеры работ
    </h3>
    <div class="swiper examples__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples1.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples1.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples2.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples2.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples3.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples3.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples4.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples4.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples5.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples5.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples6.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples6.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
        <div class="swiper-slide examples__swiper-slide">
          <picture class="examples__swiper-slide-picture">
            <source srcset="img/examples/examples7.webp" type="image/webp">
            <img loading="lazy" src="img/examples/examples7.jpg" class="examples__swiper-slide-picture-image" height="780" alt="Пример нарощеных ресниц">
          </picture>
        </div>
      </div>
    </div>
    <div class="examples__button-next">
      <svg class="examples__button-next-image examples__button-image">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="examples__button-prev">
      <svg class="examples__button-prev-image examples__button-image"">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</section>

