<footer class="footer">
  <div class="footer__wrapper">
    <div class="container footer__container">
      <p class="footer__description">
        Компания meta platforms inc., владеющая социальными сетями Facebook и Instagram, по решению суда от 21.03.2022 признана экстремистской организацией, ее деятельность на территории России запрещена.
      </p>
    </div>
  </div>
  <div class="footer__amici">
    <a href="https://t.me/amici_group" class="footer__amici-link">© Amici group</a>
  </div>
</footer>
