<nav class="nav">
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="#about" class="nav__item-link" data-scroll>О нас</a>
    </li>
    <li class="nav__item">
      <a href="#price" class="nav__item-link" data-scroll>Цены</a>
    </li>
    <li class="nav__item">
      <a href="#examples" class="nav__item-link" data-scroll>Примеры работ</a>
    </li>
    <li class="nav__item">
      <a href="#address" class="nav__item-link" data-scroll>Как нас найти</a>
    </li>
  </ul>
</nav>
