<section id="price" class="price">
  <div class="container price__container">
    <h3 class="price__title">Наши цены</h3>
    <div class="price__top">
      <div class="price__top-card">
        <div class="price__top-wrapper">
          <picture class="price__top-wrapper-picture">
            <source srcset="img/price/d1.webp" type="image/webp">
            <img loading="lazy" src="img/price/d1.jpg" class="price__top-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            1D естественный, но выразительный взгляд
          </p>
        </div>
        <p class="price__top-value">От 2200</p>
      </div>
      <div class="price__top-card">
        <div class="price__top-wrapper">
          <picture class="price__top-wrapper-picture">
            <source srcset="img/price/d1-5.webp" type="image/webp">
            <img loading="lazy" src="img/price/d1-5.jpg" class="price__top-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            1,5 D золотая середина между классикой и объемом
          </p>
        </div>
        <p class="price__top-value">От 2400</p>
      </div>
      <div class="price__top-card">
        <div class="price__top-wrapper">
          <picture class="price__top-wrapper-picture">
            <source srcset="img/price/d2.webp" type="image/webp">
            <img loading="lazy" src="img/price/d2.jpg" class="price__top-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            2 D самое популярное наращивание ресниц
          </p>
        </div>
        <p class="price__top-value">От 2700</p>
      </div>
      <div class="price__top-card">
        <div class="price__top-wrapper">
          <picture class="price__top-wrapper-picture">
            <source srcset="img/price/d2-3.webp" type="image/webp">
            <img loading="lazy" src="img/price/d2-3.jpg" class="price__top-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            2,3 D mix когда хочется погуще , но не сильно
          </p>
        </div>
        <p class="price__top-value">От 2900</p>
      </div>
    </div>
    <div class="price__bottom">
      <div class="price__bottom-card">
        <div class="price__bottom-wrapper">
          <picture class="price__bottom-wrapper-picture">
            <source srcset="img/price/d3.webp" type="image/webp">
            <img loading="lazy" src="img/price/d3.jpg" class="price__bottom-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            3 D идеальный вариант для выхода в свет
          </p>
        </div>
        <p class="price__top-value">От 3300</p>
      </div>
      <div class="price__bottom-card">
        <div class="price__bottom-wrapper">
          <picture class="price__bottom-wrapper-picture">
            <source srcset="img/price/d4.webp" type="image/webp">
            <img loading="lazy" src="img/price/d4.jpg" class="price__bottom-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            4 D если хочется быть в центре внимания
          </p>
        </div>
        <p class="price__top-value">От 3500</p>
      </div>
      <div class="price__bottom-card">
        <div class="price__bottom-wrapper">
          <picture class="price__bottom-wrapper-picture">
            <source srcset="img/price/d5-6.webp" type="image/webp">
            <img loading="lazy" src="img/price/d5-6.jpg" class="price__bottom-wrapper-picture-image" alt="Пример ресниц 1D">
          </picture>
          <p class="price__top-wrapper-description">
            5-6 D объем, который нужно попробовать хотя бы раз
          </p>
        </div>
        <p class="price__top-value">От 3700</p>
      </div>
    </div>
    <p class="price__remove">
      Снятие 300
    </p>
  </div>
</section>
